*{
    margin: 0;
    padding: 0;
}

h1{
    color: rgb(226, 29, 29);
}

#myfirstid{
    color: blue;
    /* background-color: yellow; */
} 

.firstclass{
    color:yellow;
    /* background-color: red; */
}

.backImg1{
    width: 100%;
    height: 100vh;
    /* background-color: blue; */
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.aAD55g3-OsKfYTpoG0V7bQHaEx%26pid%3DApi&f=1');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.backImg2{
    width: 100%;
    height: 100vh;
    /* background-color: blue; */
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.YauKrcL7RljCS4SDMkmzPAHaEK%26pid%3DApi&f=1');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    backdrop-filter: blur(8px);
}

.blur{
    background-color: rgba(255, 255, 255, 0.3)
    backdrop-filter: blur(8px);
    text-align: center;
    line-height: 2;
    /* background-color: yellow; */
    
}